# **Pandas:-**

### **Pandas are always read a structure file**

# **csv=camma  seprated value**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("clustering.csv")
df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'clustering.csv'

In [ ]:
df.tail(3)

     label   x   y
197      2  83  93
198      2  94  73
199      2  63  62

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
list(df.columns)

['label', 'x', 'y']

In [ ]:
df["label"]

0      2
1      1
2      2
3      2
4      2
      ..
195    1
196    2
197    2
198    2
199    2
Name: label, Length: 200, dtype: int64

# **Series is equvalent to list**
## **1D type storing data**

## **Data Frame is storing data in 2D form.**

In [ ]:
type(df["label"])

pandas.core.series.Series

# **If we passed our data in [] breakets then it becomes DataFrame**

In [ ]:
type(df[["label"]])

pandas.core.frame.DataFrame

# **If we are axis multiple collums then we passed them inside this breacket  []**

In [ ]:
df[["Sale Price","ID"]]

       Sale Price          ID
0        221900.0  7129300520
1        538000.0  6414100192
2        180000.0  5631500400
3        604000.0  2487200875
4        510000.0  1954400510
...           ...         ...
21608    360000.0   263000018
21609    400000.0  6600060120
21610    402101.0  1523300141
21611    400000.0   291310100
21612    325000.0  1523300157

[21613 rows x 2 columns]

In [ ]:
df.dtypes

ID                                             int64
Date House was Sold                           object
Sale Price                                   float64
No of Bedrooms                                 int64
No of Bathrooms                              float64
Flat Area (in Sqft)                          float64
Lot Area (in Sqft)                           float64
No of Floors                                 float64
Waterfront View                               object
No of Times Visited                           object
Condition of the House                        object
Overall Grade                                  int64
Area of the House from Basement (in Sqft)    float64
Basement Area (in Sqft)                        int64
Age of House (in Years)                        int64
Renovated Year                                 int64
Zipcode                                      float64
Latitude                                     float64
Longitude                                    float64
Living Area after Renovation (in Sqft)       float64
Lot Area after Renovation (in Sqft)            int64
dtype: object

# **Data read from a given link:-**

# **df.read_csv(file.path)**

In [ ]:
df2=pd.read_csv("D:\PW-DATA SCIENCE\Week-08\Raw_Housing_Prices.csv")

In [ ]:
df2.head(5)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [ ]:
df2["Date House was Sold"]

0         14 October 2017
1        14 December 2017
2        15 February 2016
3        14 December 2017
4        15 February 2016
               ...
21608         14 May 2017
21609    15 February 2016
21610        14 June 2017
21611     15 January 2016
21612     14 October 2017
Name: Date House was Sold, Length: 21613, dtype: object

In [ ]:
df2[["Date House was Sold","Sale Price"]]

      Date House was Sold  Sale Price
0         14 October 2017    221900.0
1        14 December 2017    538000.0
2        15 February 2016    180000.0
3        14 December 2017    604000.0
4        15 February 2016    510000.0
...                   ...         ...
21608         14 May 2017    360000.0
21609    15 February 2016    400000.0
21610        14 June 2017    402101.0
21611     15 January 2016    400000.0
21612     14 October 2017    325000.0

[21613 rows x 2 columns]

# **🔴Read a a csv file in given html page**

# **It always return a list type of data**

In [ ]:
import lxml
import pandas as pd
url_data=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
url_data

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
type(url_data)

list

In [ ]:
len(url_data)

1

In [ ]:
df3=url_data[0]
df3

NameError: name 'url_data' is not defined

In [ ]:
df3.head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

# **to csv is used to store the data item in our file**

In [ ]:
df3.to_csv("players_data.csv",index=False)

In [3]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],

        'Age': [25, 30, 35, 40],

        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

df = pd.DataFrame(data)

print(df.loc[0])

Name              John
Age                 25
Occupation    Engineer
Name: 0, dtype: object