# **Pandas Advance:-**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Raw_Housing_Prices.csv")
df.columns

Index(['ID', 'Date House was Sold', 'Sale Price', 'No of Bedrooms',
       'No of Bathrooms', 'Flat Area (in Sqft)', 'Lot Area (in Sqft)',
       'No of Floors', 'Waterfront View', 'No of Times Visited',
       'Condition of the House', 'Overall Grade',
       'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)',
       'Age of House (in Years)', 'Renovated Year', 'Zipcode', 'Latitude',
       'Longitude', 'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)'],
      dtype='object')

In [3]:
s=df["Date House was Sold"][0:10]
s

0     14 October 2017
1    14 December 2017
2    15 February 2016
3    14 December 2017
4    15 February 2016
5         14 May 2017
6        14 June 2017
7     15 January 2016
8       15 April 2016
9       15 March 2016
Name: Date House was Sold, dtype: object

In [4]:
l=["a", "b", "c", "d", "e","f","g", "h", "i", "j"]
s1=pd.Series(list(s),index=l)
s1

a     14 October 2017
b    14 December 2017
c    15 February 2016
d    14 December 2017
e    15 February 2016
f         14 May 2017
g        14 June 2017
h     15 January 2016
i       15 April 2016
j       15 March 2016
dtype: object

In [5]:
s[0]

'14 October 2017'

In [6]:
s[1]

'14 December 2017'

In [7]:
s1[0]

'14 October 2017'

In [8]:
for i in range(len(s1)):
    print(s1[i])

14 October 2017
14 December 2017
15 February 2016
14 December 2017
15 February 2016
14 May 2017
14 June 2017
15 January 2016
15 April 2016
15 March 2016